app/views/enrollments/index.html.erb
<h1><%= @doctor.name %> Enrollments</h1>
<%= link_to 'Make an appointment', new_doctor_appointment_path(@doctor)%>
<h2>Doctor</h2>
<ul>
  <% @doctor.each do |d| %>
    <li>
      <%= d.user.full_name %>
      <br />
      <%= link_to 'remove', [@doctor, d], method: :delete %>
    </li>
  <% end %>
</ul>
<h2>Client</h2>
<ul>
  <% @client.each do |cl| %>
    <li>
      <%= cl.user.full_name %>
      <br />
      <%= link_to 'remove', [@client, cl], method: :delete %>
    </li>
  <% end %>