<!DOCTYPE html>
<html>
  <head>
    <title>DoctorOffice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
  <div class="ui container">
    <%= yield %>
  </body>
</html>

<table class="ui celled table">
  <thead>
    <tr><th>Name</th>
    <th>Age</th>
    <th>Job</th>
    <th>Phone</th>
  </tr></thead>
  <tbody>
    <tr>
      <td data-label="Name">Billy</td>
      <td data-label="Age">60</td>
      <td data-label="Job">Doctor</td>
      <td date-label="Phone">801-221-4321</td>
    </tr>
    <tr>
      <td data-label="Name">Bob</td>
      <td data-label="Age">20</td>
      <td data-label="Job">Top Doc</td>
      <td date-label="Phone">801-564-9823</td>
    </tr>
    <tr>
      <td data-label="Name">Jeff</td>
      <td data-label="Age">77</td>
      <td data-label="Job">Doctor</td>
      <td date-label="Phone">801-999-9999</td>
    </tr>
  </tbody>
</table>